/* Variables */

:root {
    --basic-warm-grey: #EEEEEE;
    --basic-white: #FFFFFF;
    --basic-coral: #FB565A;
    --basic-coral-undertone: #FB565A4D;
    --basic-dark-grey: #4D4D4D;
    --basic-black: #000000;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --basic-coral-undertone-2: #E74246;
    --basic-coral-undertone-3: #D7373B;
    --basic-green-2: #00BC6C;
    --basic-green-3: #00AA62;
    --basic-yellow-2: #EAB534;
    --basic-yellow-3: #E5A722;
    --basic-grey: #666666;
    --basic-light-grey: #D7DCDE;
    --basic-grey-2: #B4B9BB;
    --basic-black-2: #444444;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: lowercase;
    background-color: var(--basic-white);
    background-position: top right;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main navigation */

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: var(--basic-warm-grey);
}

.main-navigation-wrapper {
    background-color: var(--basic-warm-grey);
}

.site-navigation {
    list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-warm-grey);
}

/* User navigation */

.site-navigation a,
.login-basket a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.login-basket a:hover,
.login-basket a:focus {
    background-color: var(--basic-coral);
}

/* Features */

.features {
    background-color: var(--basic-warm-grey);
}

.features-list {
list-style: none;
}

.feature-item {
    text-align: left;
}

.feature-item h2 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.feature-item button {
    background-color: var(--basic-coral);
    text-transform: uppercase;
}

.wrapper {
    background-color: var(--basic-warm-grey);
}

/* Services */

.services-list {
    list-style: none;
}

.sevices-item {
    text-align: right;
}

.services-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.services-item-1 {
    background-color: var(--basic-coral);
    line-height: 18px;
    text-transform: uppercase;
}

.services-item-1:hover,
.services-item-1:focus {
    background-color: var(--basic-coral-undertone-2);
    color: var(--basic-white);
}

.services-item-1:active {
    background-color: var(--basic-coral-undertone-3);
    opacity: 0.3;
}

.services-item-2 {
    background-color: var(--basic-green);
    line-height: 18px;
    text-transform: uppercase;
}

.services-item-2:hover,
.services-item-2:focus {
    background-color: var(--basic-green-2);
}

.services-item-2:active {
    background-color: var(--basic-green-3);
    opacity: 0.3;
}

.services-item-3 {
    background-color: var(--basic-yellow);
    line-height: 18px;
    text-transform: uppercase;
}

.services-item-3:hover,
.services-item-3:focus {
    background-color: var(--basic-yellow-2);
}

.services-item-3:active {
    background-color: var(--basic-yellow-3);
    opacity: 0.3;
}

/* About company */

.company-list {
    list-style: none;
}

.company-item h3 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.company-item h4 {
    font-weight: 700;
    text-transform: uppercase;
}

/* Numbers */

.numbers-list {
    list-style: none;
}

.numbers-item {
    text-transform: uppercase;
    text-align: center;
    align-items: right;
    font-weight: 700;
}

.number p {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

/* Button */

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: var(--basic-coral);
}

.button:hover,
.button:focus {
    background-color: var(--basic-coral-undertone-2);
}

.button:active {
    background-color: var(--basic-coral-undertone-3);
    opacity: 0.3;
}

/* Clients */

.client-base img:hover,
.client-base img:focus {
    background-color: var(--basic-black);
}

.client-base img:active {
    opacity: 0.1;
}

/* Contacts */

.contacts-phone {
    color: inherit;
}

.write-to-us {
    color: var(--basic-white);
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    width: 960px;
    height: 590px;
}

.write-info {
    font-size: 45px;
    line-height: 52.73px;
    font-weight: 700px;
}

.write-item input {
    font: inherit;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-light-grey);
}

.write-item input:hover,
.write-item input:focus {
    border-color: var(--basic-grey-2);
}

.write-item input:active {
    border-color: var(--basic-black);
}

.write-item input:invalid {
    border-color: var(--basic-coral-undertone-2);
}

/* Main footer */

.footer-social {
    text-align: left;
}

.footer-social ul {
    list-style: none;
}

.footer-info h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.footer-info p {
    line-height: 22px;
    color: var(--basic-black-2);
}
/* Social button */

.social-button {
    color: inherit;
}

.social-button img:hover,
.social-button img:focus {
    background-color: var(--basic-coral-undertone-2);
}

.social-button img:active {
    background-color: var(--basic-coral-undertone-3);
}
