/* Fonts */

@font-face {
    font-family: "Roboto";
    src:
    url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@400;500;700&display=swap.woff2") format(woff2),
    url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@400;500;700&display=swap.woff") format(woff);
    font-weight: 400;
    font-style: normal;
}

/* Variables */

:root {
    --basic-warm-grey: #EEEEEE;
    --basic-white: #FFFFFF;
    --basic-coral: #FB565A;
    --basic-coral-undertone: #FB565A4D;
    --basic-dark-grey: #4D4D4D;
    --basic-black: #000000;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --basic-coral-undertone-2: #E74246;
    --basic-coral-undertone-3: #D7373B;
    --basic-green-2: #00BC6C;
    --basic-green-3: #00AA62;
    --basic-yellow-2: #EAB534;
    --basic-yellow-3: #E5A722;
    --basic-grey: #666666;
    --basic-light-grey: #D7DCDE;
    --basic-grey-2: #B4B9BB;
    --basic-black-2: #444444;
    --basic-black-3: #283136;
    --basic-grey-3: #DFDFDF;
    --basic-grey-4: #D5D5D5;
    --basic-grey-5: #E1E1E1;
    --basic-black-4: #231F20;
    --basic-grey-6: #A6A6A6;
}

/* Global */

.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--basic-white);
    background-position: top right;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;

    position: relative;
    padding-bottom: 100px;
}

/* Main header */

.main-header {
    margin-bottom: 70px;
}

.main-header-bar {
    background-color: var(--basic-warm-grey);
}

.main-header-logo {
    width: 160px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-wrapper {
    margin: 0 auto;
    padding: 0 10px;

    width: 100%;
    margin-bottom: 9px;
}

.main-header-bar .main-navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.page-body .main-navigation {
    align-items: flex-start;
    flex-direction: row;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Grid */

.page {
    height: 100%;
}

/* Main navigation */

.index-columns {
    color: var(--basic-black);
    background-color: var(--basic-warm-grey);
}

.index-columns h1 {
    text-align: center;
}

.page-body .main-header-logo {
    width: 160px;
    height: 65,02px;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.index-columns h1 {
    font-size: 55px;
    line-height: 55px;
    text-transform: none;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.7; 
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation {
    width: 460px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
}

(это может убрать)
.site-navigation-current {
    position: relative;
  }
  
.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
  }


/* User navigation */

.user-navigation {
  max-width: 164px;
}

.user-navigation .login-basket {
    padding-left: 74px;
    position: relative;
}

.site-navigation a,
.login-basket {
    color: var(--basic-black);
    text-transform: uppercase;
}

.site-navigation li:focus {
    color: var(--basic-coral);
} 


.site-navigation a:hover,
.site-navigation a:focus,
.login-basket:hover,
.login-basket:focus {
    color: var(--basic-coral);
}

.site-navigation a:active,
.login-basket:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;
}

/* login-basket */

.user-navigation .login-basket {
    padding-left: 74px;
    position: relative;
}

.login-basket::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 30px;
    width: 15px;
    height: 15px;
    background-image: url("img css/login-basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Container */

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Catalog */

.page-catalog .container {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
    width: 1440px;
}
 

.page-catalog .container sort-list {
    grid-column: 9 / -1;
}

.catalog {
    margin-left: 141px;
}

.templates-item a {
    display: flex;
    flex-direction: column;
    color: var(--basic-black);
}

.templates-item p {
    color: var(--basic-grey);
    order: 1;
    margin-bottom: 32px;
    margin-left: 52px;
    margin-right: 53px;
    text-align: center;
    align-items: center;
}

.templates-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin:0;
    margin-bottom: 55px;
}

.templates-item {
    width: 359px;
    min-height: 578px;
    margin-right: 41px;
    margin-bottom: 30px;
    background-color: var(--basic-warm-grey);
}

.templates-item h3 {
    order: 1;
    margin-top: 26px;
    margin-right: 144px;
    margin-bottom: 12px;
    margin-left: 145px;
    text-align: center;
    align-items: center;
}

.templates-item img {
    width: 359px;
    height: 578px;
    margin: 0;
}

.templates-item-price {
    margin-bottom: 43px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 32px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
}


.form fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
    border: none;
}

.form fieldset:first-child {
    margin-bottom: 54px;
}

.form fieldset .grid {
    margin-bottom: 43px;
}

.form legend {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 30px;
}

.form ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 20px;
}

fieldset .slidecontainer {
    margin-top: 48px;
}


.list-of-templates h3 {
    margin-bottom: 48px;
    margin-top: 55px;
    margin-left: 140px;
}

.list-of-templates {
    margin-left: 140px;
}

/* Sort-list */

.sort-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.sort-list li {
    position: relative;
    margin-right: 25px;
}

.sort-list img {
    padding-right: 18px;
}

.sort-list img:hover {
    opacity: 0.3;
}

.sort-list img:focus {
    opacity: 0.6;
}

.sort-list img:active {
    background-color: var(--basic-black-4);
}

/* Filter */

.filter {
    width: 260px;
    margin-right: 140px;
}

.filter .price {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
    margin-top: 55px;
}

.form fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
}

.form fieldset:first-child {
    margin-bottom: 35px;
  }

  .form legend {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 20px;
  }

  .grid-item {
    margin-bottom: 20px;
    padding-left: 42px;
  }

  .peculiarities-item {
    margin-bottom: 20px;
    padding-left: 42px;
  }

.peculiarities-list label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.form-input-checkbox + label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    border: 2px solid #4D4D4D;
    left: -42px;
    top: 0;
}

.form-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -35px;
    width: 21px;
    height: 17px;
    background-image: url("img css/checkbox shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.grid-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.form-input-radio + label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid #4D4D4D;
    left: -42px;
    top: 0;
    border-radius: 50%;
}

.form-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -32px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-dark-grey);
    border-radius: 50%;
}

/* Features */

.features {
    background-color: var(--basic-warm-grey);
    text-transform: none;
    margin-bottom: 80px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.feature-item {
    text-align: left;
}

.feature-item h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.feature-item p {
    margin: 0 10px;
}

.feature-item button {
    background-color: var(--basic-coral);
    text-transform: uppercase;
}

.wrapper {
    background-color: var(--basic-warm-grey);
}

/* Services */

.services {
    margin-bottom: 80px;

    background-image: url("img css/line.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.services-list {
    list-style: none;
    text-transform: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
    margin-top: 80px;
    margin-right: 100px;
    margin: 0px;
    padding: 0px;

    padding-bottom: 80px;
}

.sevices-item {
    text-align: right;
    width: 300px;
}

.services-item p {
    margin-bottom: 32px;
}

.services-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;

    padding-top: 25px;
    padding-bottom: 16px;
}


.services-item-1 {
    background-color: var(--basic-coral);
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.services-item-1:hover,
.services-item-1:focus {
    background-color: var(--basic-coral-undertone-2);
    color: var(--basic-white);
}

.services-item-1:active {
    background-color: var(--basic-coral-undertone-3);
    opacity: 0.3;
}

.services-item-2 {
    background-color: var(--basic-green);
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.services-item-2:hover,
.services-item-2:focus {
    background-color: var(--basic-green-2);
}

.services-item-2:active {
    background-color: var(--basic-green-3);
    opacity: 0.3;
}

.services-item-3 {
    background-color: var(--basic-yellow);
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.services-item-3:hover,
.services-item-3:focus {
    background-color: var(--basic-yellow-2);
}

.services-item-3:active {
    background-color: var(--basic-yellow-3);
    opacity: 0.3;
}

/* About company */

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
}

.about-company {
  width: 651px;
}

.company-list {
    list-style: none;
    text-transform: none;
    margin: 0;
    padding: 0;
    padding-top: 73px;
    padding-bottom: 73px;
}

.company-item {
    margin: 0;
}

.company-item h3 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;

    margin: 0;
    margin-bottom: 32px;
}

.company-item p {
    margin-bottom: 40px;
}

.company-item h4 {
    font-weight: 700;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 23px;
}

/* Numbers */

.numbers {
  width: 360px;
}

.numbers img {
    width: 360px;
    height: 208px;
}

.numbers-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.numbers-item {
    text-align: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 73px;
}

.numbers-item h4 {
    margin: 0;
    margin-bottom: 31px;
    text-align: center;
    align-items: center;
    position: absolute;

    top: 2940px;
}

.number-item {
    text-transform: none;
    text-align: center;
    padding-bottom: 73px;

    margin-top: 10px;
}

.number-item p {
    align-items: center;

}

.number {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    text-align: center;
     margin-top: 60px;
}

/* Button */

.button {
    display: inline-block;
    padding: 17px 54px;

    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background-color: var(--basic-coral);
}

.button:hover,
.button:focus {
    background-color: var(--basic-coral-undertone-2);
}

.button:active {
    background-color: var(--basic-coral-undertone-3);
    opacity: 0.3;
}

.services-item-1,
.services-item-2, button {
    display: inline-block;
    padding: 17px 40px;
    border: none;
    border-radius: 3px;
}

.services-item-3, button {
    display: inline-block;
    padding: 17px 40px;
}

/* Clients */

.client-base img:hover,
.client-base img:focus {
    background-color: var(--basic-black);
}

.client-base img:active {
    opacity: 0.1;
}

.clients {
    margin-bottom: 80px;
}

.client-base {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Contacts */

.contacts-phone {
    color: inherit;
}

.useful {
    width: 1440px;
    margin-top: 80px;
}

.contacts {
    width: 319px;
}

.contacts p {
    margin: 0;
    margin-bottom: 38px;
    margin-top: 23px;
}

.write-to-us {
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    width: 960px;
    height: 590px;
}

.write-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;

    padding-right: 40px;
    padding-bottom: 34px;
}


.write-to-us h2 {
    font-size: 45px;
    line-height: 52.73px;
    font-weight: 700;
    text-transform: none;
    padding-top: 63px;
    padding-left: 100px;

    margin: 0;
    margin-bottom: 37px;
}

.write-item {
    margin-top: 0;
    margin-bottom: 47px;
}

.write-item-3 {
    margin-top: 0;
    margin-bottom: 47px;
}

.write-item-3 label {
    line-height: 18px;
    font-weight: 700;
    text-transform: none;
    display: block;
    margin-bottom: 9px;
}

.write-item-3 input {
    font: inherit;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-light-grey);
    width: 760px;
    height: 118px;
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.write-to-us .button {
    width: 259px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 83px;
    padding-right: 83px;
}


.write-item label {
    line-height: 18px;
    font-weight: 700;
    text-transform: none;
    display: block;
    margin-bottom: 9px;
}

.write-item input {
    font: inherit;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-light-grey);
    width: 360px;
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.write-item input:hover,
.write-item input:focus {
    border-color: var(--basic-grey-2);
}

.write-item input:active {
    border-color: var(--basic-black);
}

.write-item input:invalid {
    border-color: var(--basic-coral-undertone-2);
}

.write-item-3 input:hover,
.write-item-3 input:focus {
    border-color: var(--basic-grey-2);
}

.write-item-3 input:active {
    border-color: var(--basic-black);
}

.write-item-3 input:invalid {
    border-color: var(--basic-coral-undertone-2);
}

/* Main footer */

.main-footer {
    margin-top: 80px;
    position: absolute;
    bottom: 0;
    height: 100px;
}

.footer-social {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bonus {
    margin: 0;
    width: 1100px;
}

.social-network {
    width: 180px;
    margin: 0;
    justify-self: left;
}

.footer-social ul {
    list-style: none;
}

.footer-info h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: none;
}

.footer-info p {
    line-height: 22px;
    color: var(--basic-black-2);
    text-transform: none;
}

/* Social button */

.social-button {
    color: inherit;
    width: 81px;
    height: 81px;
    background-color: var(--basic-grey-5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style: none;

}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-coral-undertone-2);
}

.social-button:active {
    background-color: var(--basic-coral-undertone-3);
}

.social-button:active path {
    opacity: 0.3;
}


/* List-of-templates */

.sort-list {
    list-style: none;
}

.sort-list a {
    color: var(--basic-black);
    opacity: 0.3;
    text-transform: uppercase;
}

.sort-list a:hover,
.sort-list a:focus {
    opacity: 0.6;
}

.sort-list a:active {
    color: var(--basic-black);
}

.templates-list {
    list-style: none;
}

.templates-list h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.templates-item h3:hover,
.templates-item h3:focus {
    color: var(--basic-coral);
}

.templates-item h3:active {
    opacity: 0.3;
    color: var(--basic-black);
}

.templates-item-price .button {
    line-height: 18px;
    text-align: center;
}

.templates-item-price .button:active {
    color: var(--basic-coral-undertone-3);
}

/* Filter */

.form legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.form ul {
    list-style: none;
    line-height: 20px;
}

.form-input-radio:hover + label {
    color: var(--basic-dark-grey);
}

.form-input-radio:focus + label {
    color: var(--basic-black-3);

}

.form-input-radio:disabled + label,
.form-input-radio:disabled + label {
    color: var(--basic-black-3);
    opacity: 0.3;
}

.form-input-checkbox:hover + label {
    color: var(--basic-dark-grey);
}

.form-input-checkbox:focus + label {
    color: var(--basic-black-3);

}

.form-input-checkbox:disabled + label,
.form-input-checkbox:disabled + label {
    color: var(--basic-black-3);
    opacity: 0.3;
}

.show {
    color: var(--basic-black);
    background-color: var(--basic-warm-grey);
    border-radius: 3px;
}


/* Pagination */

.pagination-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.pagination-item a {
    display: block;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: var(--basic-black);
    background-color: var(--basic-warm-grey);
}

.pagination-item-current a {
    display: block;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 3px solid #DBDBDB;
}

.pagination-item {
    margin-right: 11px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: var(--basic-grey-3);
}

.pagination-item a:active {
    background-color: var(--basic-grey-4);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    border: 3px solid #DBDBDB;
    border-radius: 3px;
    color: var(--basic-black);
}

